# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
# node_modules should be re-ignored when https://github.com/npm/npm/issues/4210 is resolved and npm provides first-class support for depedency bundling.
# node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Project
build/
tmp/
src/content/snapcraft/
*.tgz

