
:root {
  font: normal normal 16px/1.7 "Ubuntu", Arial, "libra sans", sans-serif;
  height:100%;
  color:#333;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

a {
  color: #dd4814;
  text-decoration: none;
}

code {
  font-family:"Ubuntu mono";
  border-radius:3px;
  background-color:#fafafa;
  padding:0.2em;
}

pre code {
  overflow: auto;
  display:block;
  padding:0.2em 1em;
}


/* FIXME stephen-stewart use seperate files, concat and csso **/
/* BEM components */

/* @define document*/
.document {
  position: relative;
  z-index: 100;
  height: 100%;
  padding-top: 3rem;
  overflow: hidden;
}

/* @define banner */
.banner {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3.4rem;
  box-sizing: border-box;
  background-color:#dd4814;
  color: white;
  padding: 0 2rem;
}

/* @define sidebar */
.sidebar {
  position: absolute;
  z-index: 300;
  top: 3rem;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 1px solid white;
  font-weight:300;
  font-size:14px;
}

/* @define toc */
.toc {
  position: relative;
  width: 17rem;
  min-height: 100%;
  background-color: #fafafa;
  padding-bottom:3rem;
}

.toc__heading {
  margin: 0;
  padding: 0.2em 2rem;
  font-weight: 400;
}

.toc__item {
  display:block;
  color: #333;
  text-decoration: none;
  padding: 0.2em 2rem;
}

.toc__item:hover {
  background-color:#ddd;
}

/* @define content */
.content {
  position: relative;
  margin-left: 17rem;
  height: 100%;
}

.content__container {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  margin-left: 14px;
  padding: 2rem;
  background-color: #fff;
}

.content__title {
  margin-top:0;
}

/* define footer */

.footer {
  position: absolute;
  left: 17rem;
  right: 0;
  bottom: 0;
  height: 2rem;
  padding: 0 2rem;
  background-color: #fff;
  font-size: 13px;
  text-align: center;
  border-top: 1px solid #fafafa;
  line-height: 2rem;
}

/* @define scrollbar */
.scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  min-height: 2rem;
  background: #d2d2d2;
  background-clip: padding-box;
  border: 6px solid transparent;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
