<html>
  <meta charset="utf8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" type="text/css" href="{{ rootPath }}css/style.css">
  <div class="document">
    <div class="banner">
      Ubuntu Store Help
    </div>
    <div class="sidebar scrollbar">
      <div class="toc">
        {% for guide in collections.Guides %}
          <a class="toc__item" href="/{{ guide.path }}">{{ guide.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="body">
      <div class="body__container scrollbar">
        <h1 class="body__title">{{ title }}</h1>
        <p>{{ contents | safe }}</p>
        <div class="body__foot">
          © {{ moment().format('YYYY') }} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.
        </div>
      </div>
    </div>
  </div>
</html>
