<html>
  <meta charset="utf8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" type="text/css" href="{{ rootPath }}css/all.css">
  <div class="document">
    <div class="banner">
      <img src="/img/ubuntu-logo.svg" height="25" width="107" alt="Ubuntu"> documentation
    </div>
    <div class="sidebar scrollbar">
      <div class="toc">
        {% for name, collection in collections %}
        <p class="toc__heading" data-collection-key="{{name}}">{{ collection.metadata.name }}</p>
        {% for page in collection %}
        <a class="toc__item" href="/{{ page.path }}">{{ page.title }}</a>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="content">
      <div class="content__container scrollbar">
        <h1 class="content__title">{{ title }}</h1>
        {{ contents | safe }}
      </div>
    </div>
    <div class="footer">
      © {{ moment().format('YYYY') }} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.
    </div>
  </div>
</html>
