<html>
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" type="text/css" href="{{ rootPath }}css/style.css">
  </head>
  <body>
    <header>
    <nav class="nav">
    <a href="/">Home</a>
    <hr>
    Guides
    <ul>
      {% for guide in collections.Guides %}
      <li>{{ guide.name }}
      <a href="{{ guide.path }}">{{ guide.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <hr>
    </header>
    <section class="content">
    <h1>{{ title }}</h1>
    <p>{{ contents | safe }}</p>
    </section>
  </body>
</html>
